@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
  user-select: none;
  padding: 0;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topmost-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}
.topmost-nav a {
  text-decoration: none;
  color: lightgrey;
  padding: 0 10px;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 70px;
  padding: 1em;
}
.logo {
  width: 10%;
}
.logo img {
  width: 150px;
}
.nav-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  /* width: 90%; */
}
.nav-btn {
  background: linear-gradient(90deg, #d6003c, #d6003c);
  border: 0;
  line-height: 1rem;
  margin: 1rem 0.85em;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  border-radius: 0.25rem;
  color: white;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.top-nav h4 {
  color: black;
  font-size: 0.75rem;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  color: black;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #d6003c;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.btn-1 {
  display: none;
}
.banner-section {
  position: relative;
  margin-bottom: 2rem;
}
.banner {
  display: flex;
  margin-bottom: 2rem;

  width: 100%;
  background-image: url(./img/personal-hero-mobile.jpg);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;

  /* justify-content: space-between; */
  align-items: center;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 60%;
  height: 60%;

  color: white;

  padding: 1rem;
}
.banner-text h1 {
  color: black;
  font-size: 5rem;
  font-weight: 900;
}
.banner-text h4 {
  color: black;
  font-size: 2rem;
  font-weight: 900;
}
.per-bus {
  display: flex;
  font-size: 1rem;
  width: 80%;
  margin: 0.5em auto;
  justify-content: center;
}
.sign-in {
  width: 35%;
  background-color: white;

  border-top: 3px solid rebeccapurple;
}
.sign-form {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 1rem auto;
}
.sign-form input {
  height: 55px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid navy;
}
.sign-form input::placeholder {
  padding-left: 20px;
}

.sign-form .btn-3 {
  height: 55px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid navy;
  background-color: transparent;
}
.sign-form-i {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}
.sign-form-i-flex {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  color: #d6003c;
}
.sign-form-i-flex h5 {
  font-size: 0.95rem;
  font-weight: 900;
}
.sign-form i {
  font-size: 3rem;
  color: #d6003c;
}
.forgot {
  display: flex;

  width: 80%;
  margin: 0.5em auto;
  justify-content: center;
}
.forgot h4 {
  font-size: 0.8rem;
  color: #d6003c;
}
.card-img {
  object-fit: cover;
  height: 100%;
}
.card:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}
.borde {
  border: 2px solid #d6003c;
  align-items: center;
  border-radius: 5px;
  color: #d6003c;
  height: 40px;
}
.borde h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
.container-flex-2 img {
  border-radius: 5px;
  object-fit: cover;
}
.container-flex-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container-flex {
  height: 600px;
}
.blank {
  background-color: #d6003c;
  width: 70px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
}
.sponsors {
  text-align: center;
  width: 100%;
}
.sponsor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sponsor img {
  width: 220px;
}
.connection {
  width: 85%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
}
.connect-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.connect-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}
.connect-1 input {
  width: 100%;
  height: 70px;
  margin-top: 1rem;
  border: 2px solid darkgrey;
}
.connect-1 textarea {
  width: 100%;

  margin-top: 1rem;
  border: 2px solid darkgrey;
}
.connect-2 img {
  width: 100%;
}
.connect-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
}
.btn-4 {
  height: 40px;
  background-color: #d6003c;
  color: white;
  border-radius: 5px;
  border: none;
  width: 150px;
}
.connect-btn a {
  color: #d6003c;
  text-decoration: none;
}
.connect-btn a:hover {
  text-decoration: underline;
}
footer {
  width: 100%;
  background-color: #eee;
}
.footer {
  width: 95%;
  margin: 0 auto;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: space-around;
  align-self: start;
  width: 100%;
  margin-top: 2rem;
}
.footer-grid p {
  margin-bottom: 0.4rem;
  font-size: 0.85rem;
}
.logos-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos-1 svg {
  height: 32px;
  margin: 0 0.25rem;
  width: 32px;
}
.logos-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  margin: 2rem auto;
}
.collapse:not(.show) {
  display: block;
}
.section-login {
  width: 100%;
  background-image: url(./img/Login_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 800px;
  padding: 3rem;
  align-items: center;
}
.LoginPage {
  width: 85%;
  background-color: #fff;

  margin: 1rem auto;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}
.accordion {
  display: flex;
}
.accordion-item {
  width: 219px;
  border: none;
}
.accordion-button::after {
  display: none;
}
.LoginPage_LoginNav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.card-1 {
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  flex: 1 0 25%;
  font-size: 1.15rem;
  font-weight: 700;
  margin: 4px;
  padding: 3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-in-out 0s;
  color: #d6003c;
  cursor: pointer;
}
.card-1:hover {
  background-color: #d6003c;
  color: white;
}
.card-1 i {
  font-size: 3.75rem;
}
.card-1 h4 {
  font-size: 1.15rem;
  margin-top: 0.85rem;
}

@media (max-width: 990px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0.5%;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .top-nav h4 {
    display: none;
  }
  .btn-1 {
    display: block;
  }
  .btn-2 {
    display: none;
  }
  .topmost-nav {
    display: none;
  }
  .container-flex-2 {
    display: none;
  }
  /* .container-flex-1 {
    width: 50%;
  } */
  .connect-2 {
    display: none;
  }
  .sign-in {
    display: none;
  }
  .container-flex {
    height: 300px;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .collapse:not(.show) {
    display: none;
  }
  .accordion {
    display: block;
  }
  .accordion-button::after {
    display: flex;
  }
  .banner-text h1 {
    font-size: 4rem;
  }
}
